[Desktop Entry]
Icon=text-html
Name=bash_ REFERENCE MANUAL _gnu.org
Type=Link
URL[$e]=https://www.gnu.org/savannah-checkouts/gnu/bash/manual/html_node/index.html
