[Desktop Entry]
Icon=application-octet-stream
Name=VM_ Install Windows 11 On Linux Using QEMU & virt-manager
Type=Link
URL[$e]=file:///mnt/Data/Reference/vm/VM_ Install Windows 11 On Linux Using QEMU & virt-managerhttps:/www.youtube.com/watch%253Fv=q76BqwHb7JQ
